
<body>
<h2>Check your Details</h2>


<div id="index">
<ul style="width:220px" >

  <li style="float:none"><%=link_to "personal Details",personals_self_view_path %></li>
  <li style="float:none"><%=link_to "Education Details",educationals_self_view_path %></li>
  <li style="float:none"><%=link_to "Employment Details",employments_self_view_path%></li>
  <li style="float:none"><%=link_to "Finance Details",finances_selfview_path %></li>


</ul>
</div>
<div id="content">
</div>
</body>