
<h2>please fill the required details</h2>





<%=link_to "personal Details",personals_self_view_path %>
  <%=link_to "Education Details",educationals_self_view_path %>
  <%=link_to "Employment Details",employments_self_view_path%>
  <%=link_to "Finance Details",finances_selfview_path %>




